header {
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-bottom: 40px;
}

select {
    margin-bottom: 40px;
}

#resultado {
    display: flex;
    gap: 10px;
}

.div-resultado {

    border: 1px solid rgba(0, 0, 0, 0.1);
}