main{
    text-align: center;
}
.quadrado {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
}