section {
    margin: 30px 0px;
    border-radius: 4px;
}

header {
    background-color: green;
    align-items: center;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#listaDeProdutos {
    display: flex;
    gap: 15px;
    margin: 10px 0px;
}